li {
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}

li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.thumbnails {
  object-fit: contain;
  width: 100%;
}
