.container {
  position: absolute;

  max-width: 0;
  max-height: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.contour {
  width: 100%;
  height: 1px;
  background-color: rgb(75, 75, 75);
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  margin: 1rem;
  padding-right: 1rem;
}

.description {
  width: 100%;
  margin: 1rem;
  font-size: 1rem;
  padding-right: 1rem;
}

.container.open {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}
